// Solid Colors ---------------
$white: #ffffff;
$black: #000;
$navy: #1c2e52;
$gold: #cfab63;
$blue: #457899;
$red: #c71724;

// Grey Colors ---------------
$theme-color-2:#cfab63;

// Grey-2Colors ---------------
$theme-color-2-2:#A2A2A2;


// Footer Colors ---------------
$footer-bg: #1c2e52;



// basic color
$theme-color: #1c2e52;



// basic color
$theme-bg: #F6F8FB;



// Text Colors ---------------
$body-text: #575757;



// Border Colors ---------------
$border:#edeef2;

// Heading Colors ---------------
$heading-color: #141517;


// section-bg Colors ---------------
$section-bg: #1c2e52;