.jouney_container{
    background-color: #1B2E52;
    width: 100%;
    height: 371px;
    display: flex;
    align-items:center;
    .jouney_content{
        background-color: #CFAB63;
        width: 100%;
        max-width: 1290px;
        height: 345px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -90px;
        margin: auto;
        h1{
            font-size: 46px;
            color: black;
        }
        p{
            font-size: 24px;
            font-weight: 600;
            color: black;
        }
        form{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 404px;
            input[type="number"]{
                border-radius: 10px;
                width: 101px;
                height: 52px;
                border:  none;
                font-size: 21px;
                padding: 0 18px;
                color: black;
                font-weight: 700;

            }
            input[type="button"]{
                border-radius: 50px;
                height: 52px;
                width: 52px;
                background-color: #1B2E52;
                border: 2px solid black;
                color: #CFAB63;
                font-size: 30px;
            }
        }
    }
}
@media (max-width: 1319px) {
    .jouney_content{
        width: 92vw !important;
    }
    
}