/*----------

10. partner style

----------*/

@use "../abstract" as *;

.patner-area {
	background-color: $white;
	max-width: 100vw;
}
.partner-wrapper {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	gap: 110px 70px;
	margin-top: 10px;
	width: 70vw;
	@media #{$xl} {
		gap: 80px 45px;
	}
}
.partner-box {
	position: relative;
	max-width: 430px;
	z-index: 2;
}
.partner-thumb {
	position: absolute;
	top: -110px;
	left: -250px;
	z-index: -1;
}
.responsive {
	width: 100%;
	height: auto;
  }
.partner-text {
	margin-top: 20px;
	p {
		font-weight: 600;
		color: $heading-color;
		max-width: 245px;
		span {
			font-size: 24px;
			font-weight: 700;
			color: $theme-color;
		}
	}
}
