/*----------

10. partner style

----------*/

@use "../abstract" as *;

.patner-area {
	background-color: $white;
	max-width: 100vw;
	height: 560px;
	padding-top: 86px;
	position: relative;
	.row{
		.col-xl-3{
			width: 30%;
		}
		.col-xl-7{
			width: 70%;
		}
	}
}

.partner-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: lef;
	width: 100%;
	.partner-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		margin-top: 12px;
		margin-bottom: 55px;
	}
	.singel-partner {
		flex-basis: calc(25% - 20px);
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px;
	}
	.second{
		flex-basis: calc(18% - 20px);
		justify-content: right;
	}
}

.partner-box {
	position: relative;
	max-width: 430px;
	z-index: 2;
}

.partner-thumb {
	position: absolute;
	top: -110px;
	left: -250px;
	z-index: -1;
}

.responsive {
	width: 100%;
	height: auto;
}

.partner-text {
	margin-top: 20px;

	p {
		font-weight: 600;
		color: $heading-color;
		max-width: 245px;

		span {
			font-size: 24px;
			font-weight: 700;
			color: $theme-color;
		}
	}
}
@media (max-width: 1260px) {
	.browser-course-wrapper{
		display: flex;
		flex-wrap: wrap;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		align-items: center;
		width: 630px ;
		height: 270px;
		max-width: 100vw !important;
		.browser-course-bg{
			height: auto;
		}
		.browser-course-tittle{
			max-width: 100%;
		}
	}
	.browser-course-area {
		height: 1100px !important;
		.row{
			margin: 0;
		}
		.col-xl-6{
			width: 100% !important;
			display: flex;
			justify-content: center;
		}
	}
}
@media (max-width: 921px) {
	.patner-area{
		.col-xl-3 {
			h3{
				font-size: 30px;
			}
		}
	}
}
@media (max-width: 753px) {
	.patner-area{
		.container{
			width: 100vw;
			max-width: 100vw;
			.row{width: 100vw!important;}
		}
		padding: 60px 0 0;
		.col-xl-3{
			position: absolute;
			font-size: 30px;
			width: 100% !important;
			padding: 0;
		}
		.font-partner{
			margin-bottom: 150px;
			text-align: center;
		}
		.section-title {
			top: -30px;
			width: 100%;
		}
		.partner-row{
			margin-top: 38px;
			margin-bottom: 135px;
		}
		.col-xl-7{
			position: absolute;
			width: 100% !important;
			padding: 0;
			margin-top: 29pxpx;
		}
	}
}
@media (max-width: 460px) {
	.browser-course-content {
		width: 230px !important;
	}
	.browser-course-wrapper .browser-course-content {
		line-height: 10px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.browser-course-content{
		padding: 0;
		.col-xl-7 {
			position: absolute;
			font-size: 20px !important;
			width: 100% !important;
			padding: 0;
			
		}}
}
@media (max-width: 390px) {
	.browser-course-area{
		height: 880px;
		.row{
			width: 100vw;
			padding: 0;
			margin: auto;
		}
		.col-12{
			padding: 0;
			margin: auto;
		}
		.browser-course-wrapper {
			height: auto;
			height: 172px !important;
		}
		.browser-course-content{
			padding: 10px;
			.course-btn{
				height: 30px;
				line-height: 30px;
				padding: 0 19px;
			}
		}
		.browser-course-tittle{
			a{
				font-size: 15px !important;
			}
		}
		.gatsby-image-wrapper div{
			padding: 5px;
		}
		.section-title{
			margin-bottom: 20px;
		}
		.col-xl-6 {
			width: 100%;
			padding: 0;
			height: 172px;
			.browser-course-wrapper{
				margin: 0;
				padding: 0;
				width: 100%;
				max-width: 100vw;
				height: auto;
				.browser-course-bg{
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
@media (max-width: 370px) {
	.browser-course-content{
		line-height: 15px;
		width: 250px;
	}

}
@media (max-width: 367px) {
	.patner-area{
		h3{
			margin-bottom: 110px !important;
		}
	}
}
@media (max-width: 353px) {
	.partner-row{
		margin-top: 80px !important;
		margin-bottom: 100px !important;
	}
}